<form novalidate #form="ngForm">
    <div class="content">
        <div class="row" *ngIf="loadingComponent">
            <app-loading></app-loading>
          </div>
        <div class="container-fluid">
            <div class="row top-space">
                <div class="col-md-6">
                    <label><strong>Titulo Norma Técnica:</strong></label>
                    <input type="text" name="normTitle" #iptTitle="ngModel" 
                        [value]="normModel.normTitle"
                        class="form-control" 
                        [class.is-valid]="iptTitle.valid && iptTitle.dirty" 
                        [class.is-invalid]="!iptTitle.valid && iptTitle.touched" 
                        required autocomplete="off" ngModel/> 
                    <span class="help-block" *ngIf="iptTitle.valid && iptTitle.dirty"><i class="fa fa-check">Ok</i></span>
                    <span class="help-block" *ngIf="!iptTitle.valid && iptTitle.touched"><i class="fa fa-remove">Campo obrigatório</i></span>
                </div>
                <div class="col-md-6">
                    <label><strong>Orgão Competente:</strong></label>
                    <input type="text" #iptOrg="ngModel" name="competentOrgan"
                        [value]="normModel.competentOrganization" 
                        [class.is-valid]="iptOrg.valid && iptOrg.dirty" 
                        [class.is-invalid]="!iptOrg.valid && iptOrg.touched"
                        class="form-control" required autocomplete="off" ngModel/>
                    <span class="help-block" *ngIf="iptOrg.valid && iptOrg.dirty"><i class="fa fa-check">Ok</i></span>
                    <span class="help-block" *ngIf="!iptOrg.valid && iptOrg.touched"><i class="fa fa-remove">Campo obrigatório</i></span>
                </div>
            </div>
            <div class="row top-space">
                <div class="col-md-12">
                    <label><strong>Descrição Norma Técnica:</strong></label>
                    <textarea rows="10"  name="normBody" #iptDescription="ngModel" 
                        [value]="normModel.normBody"
                        class="form-control" 
                        [class.is-valid]="iptDescription.valid && iptDescription.dirty" 
                        [class.is-invalid]="!iptDescription.valid && iptDescription.touched"
                        required autocomplete="off" ngModel></textarea>
                    <span class="help-block" *ngIf="iptDescription.valid && iptDescription.dirty"><i class="fa fa-check">Ok</i></span>
                    <span class="help-block" *ngIf="!iptDescription.valid && iptDescription.touched"><i class="fa fa-remove">Campo obrigatório</i></span>
                </div>
            </div>
            <div class="row top-space">
                <div class="col-sm-12">
                    <div class="col-sm-2 float-right">
                        <button class="btn btn-danger float-right" routerLink="/norms"> Cancelar </button>    
                    </div>
                    <div class="col-sm-2 float-right">
                        <button class="btn btn-primary float-right" (click)="saveNorm(form.value)" [disabled]="!form.valid"> Salvar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
