<div class="container mt-5">
<ng-container *ngIf="error$ | async as error">
  <h1>Encontramos um erro!</h1>
  <div class="alert alert-danger" role="alert">
    {{error.error_description}}
  </div>
</ng-container>
</div>
