<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Módulo de Normas Técnicas</h1>
      </div>
    </div>
    
  </div>
</section>
<div>
  <div>
    <a class="btn btn-primary btn-margin btn-lg btn-right" routerLink="/normdetail" [attr.disabled]="loadingComponent">  
      Nova Norma
    </a>
  </div>
  <div class="row" *ngIf="loadingComponent">
    <div class="col-12">
      <app-loading></app-loading>
    </div>
  </div>
  <div class="row" *ngIf="!loadingComponent">
      <div class="col-12 table-space">
        <div class="card">
          
          <div class="card-header">
            <h3 class="card-title">Lista de Normas</h3>
            <div class="card-tools">
              <form novalidate #form="ngForm">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="normTitle" class="form-control float-right" placeholder="Search" ngModel>

                  <div class="input-group-append">
                    <button type="button" class="btn btn-default" (click)="searchForName(form.value)">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap ">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Orgão</th>
                  <th>Editar</th>
                  <th>Deletar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of norms">
                  <td>{{item.normTitle}}</td>
                  <td>{{item.competentOrganization}}</td>
                  <td><i class="far fa-edit" (click)="editNorm(item)"></i></td>
                  <td><i class="far fa-trash-alt" (click)="deleteNorm(item)"></i></td>
                </tr>
              </tbody>
          </table>
          <table class="table table-hover text-nowrap text-table-center" *ngIf="resultHasNoItens">
            <tbody >
              <tr>
                <td>Não há normas encontradas</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>