<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Bem vindo ao SIGO!</h1>
     <p>
      Sistema Integrado de Gestão Operacional.
     </p>
     <a class="btn btn-primary btn-lg" [routerLink]="['/norms']">Vamos começar?</a>
  </div>

</section>
