<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Que pena!</h1>
     <p>
      Este módulo ainda está em construção.
     </p>
     <a class="btn btn-warning btn-lg" [routerLink]="['']">Voltar a pagina principal</a>
  </div>

</section>